on init && property:ro.boot.hwname=surya
    setprop ro.boot.product.hardware.sku surya

on init && property:ro.boot.hwname=karna
    setprop ro.boot.product.hardware.sku karna

on property:ro.boot.product.hardware.sku=surya
    enable vendor.nfc_hal_service

on property:ro.boot.hwversion=*
    setprop vendor.boot.hwversion ${ro.boot.hwversion}

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc drmrpc system
    disabled
