type xiaomiparts_app, domain;

app_domain(xiaomiparts_app)

# Allow xiaomiparts_app to find *_service
allow xiaomiparts_app {
  activity_service
  activity_task_service
  app_api_service
  audio_service
  audioserver_service
  autofill_service
  cameraserver_service
  drmserver_service
  media_session_service
  mediaextractor_service
  mediametrics_service
  mediaserver_service
  surfaceflinger_service
}:service_manager find;

# Allow xiaomiparts_app read and write /data/data subdirectory
allow xiaomiparts_app system_app_data_file:dir create_dir_perms;
allow xiaomiparts_app system_app_data_file:{ file lnk_file } create_file_perms;

# Allow binder communication with gpuservice
binder_call(xiaomiparts_app, gpuservice)
